*.asv
report/auxiliary
*.log
*.aux
*.fls
report/auxiliary/main.fls
report/auxiliary/main.log
report/auxiliary/main.lot
report/auxiliary/main.out
report/auxiliary/main.toc
report/auxiliary/main.fdb_latexmk
report/main.pdf
report/main.synctex.gz
.vscode
