*.asv
report/auxiliary
*.log
*.aux
*.fls
report/auxiliary/main.fls
report/auxiliary/main.log
report/auxiliary/main.lot
report/auxiliary/main.out
report/auxiliary/main.toc
report/auxiliary/main.fdb_latexmk
report/main.pdf
report/main.synctex.gz

finalReport/auxiliary/main.fls
finalReport/auxiliary/main.log
finalReport/auxiliary/main.lot
finalReport/auxiliary/main.out
finalReport/auxiliary/main.toc
finalReport/auxiliary/main.fdb_latexmk
report/main.pdf
finalReport/main.synctex.gz

.vscode
